@model IEnumerable<WebApplication.Excursion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                Гід
            </th>
            <th>
                Паттер
            </th>
            <th>
                Ціна
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.exGdPt)
        {
            <tr>
                <td>
                    @item.ex.Date
                </td>
                <td>
                    @item.FullName
                </td>
                <td>
                    @item.Name
                <td>
                    @item.Price
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ex.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ex.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ex.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="chart1"></div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script>
    google.charts.load('current', { packages: ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        $.get('/api/Charts/JsonData', function (JsonData) {
            console.log(JsonData);
            data = google.visualization.arrayToDataTable(JsonData, false);
            console.log("1");

            var option = {
                backgroundColor: '#272B30',
                legend: {
                    textStyle: {
                        color: 'white',
                    },
                },
            };
            chart = new google.visualization.PieChart(document.getElementById('chart1'));
            chart.draw(data, option);
        })
    }
</script>