@model IEnumerable<WebApplication.ExcurionGuide>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdguideNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdpatternNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a href=@Url.Action("Details", "Guides", new { Id = item.IdguideNavigation.Id })>
                @Html.DisplayFor(modelItem => item.IdguideNavigation.FullName)</a>
            </td>
            <td>
                <a href=@Url.Action("Details", "Patterns", new { Id = item.IdpatternNavigation.Id })>
                    @Html.DisplayFor(modelItem => item.IdpatternNavigation.Name)
                </a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
